<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mr.mapper.SpuMapper">
	<insert id="saveSpu" parameterType="tMallProduct"
			useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO `t_mall_product` (
            `shp_mch`,
            `shp_tp`,
            `flbh1`,
            `flbh2`,
            `pp_id`,
            `shp_msh`
        )
        VALUES
            (
                #{shpMch},
                #{shpTp},
                #{flbh1},
                #{flbh2},
                #{ppId},
                #{shpMsh}
            )

    </insert>
	<insert id="saveSpuImgs" parameterType="map">
		insert into
			`t_mall_product_image`
			(`shp_id`,`url`)
			values
			<foreach collection="urlList" item="img" separator=",">
				(#{spuId},#{img})
			</foreach>
	</insert>
</mapper>